* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba(255, 229, 204, 0.8);
    
}

.form-container {
    z-index: 1;
    width: 90%; /* Adjusted width for responsiveness */
    max-width: 1200px;
    min-width: none;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.938);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 30px;
    color: #ffffff;
}

.form {
    display: flex;
    flex-direction: column;
}

.input-container {
    position: relative;
    margin-bottom: 30px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


.login-link {
    color: #333;
    font-size: 16px;
    text-decoration: underline;
}


h1 {
    text-align: center;
}

.books-container {
    height: 100vh;
    overflow-y: auto; /* Agregar desplazamiento vertical si es necesario */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente los elementos */
}

.books-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ajustar el ancho para centrar las opciones */
}

.books-container select {
    width: 150px;
    margin-bottom: 20px; /* Agregar espacio entre el select y la lista de libros */
}


.book-detail-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.book-detail-container img {
    max-width: 200px;
    min-width: 200px;
    height: auto;
}

.book-detail-container .book-info {
    flex: 1;
}

.book-detail-container .actions {
    display: flex;
    gap: 10px;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .form-container {
        width: 80%; /* Adjusted width for smaller screens */
    }
}

/* Media Query for even smaller screens */
@media screen and (max-width: 480px) {
    .form-container {
        width: 90%; /* Further adjusted width for even smaller screens */
    }
}

.feed {
    height: 100vh; /* Usar la altura total del viewport */
    
}

.DisplayBooks {
    overflow-y: auto; /* Agregar desplazamiento vertical si es necesario */
    max-width: 100%; /* Ancho máximo para DisplayBooks */
}

.header {
    display: flex;
    justify-content: space-between; /* Para que los elementos se distribuyan a lo largo del contenedor */
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header-center {
    flex-grow: 1; /* Para que el contenido se expanda y ocupe el espacio restante */
}

.header-right {
    display: flex; /* Para que los elementos se alineen horizontalmente */
    align-items: center; /* Para centrar verticalmente los elementos */
}

.pageLink {
    cursor: pointer;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

.cart {
    margin-right: 20px; /* Ajusta el espacio entre el icono del carrito y los otros iconos */
    font-size: 2.5rem;
}

.logout {
    margin-left: 20px; /* Ajusta el espacio entre el ícono de salida y los otros iconos */
    font-size: 2.5rem;
}

.popup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .popup-container h2 {
    margin-bottom: 20px;
  }
  
  .popup-container label {
    margin-bottom: 10px;
  }
  
  .popup-container input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .popup-container button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
  }
  
  .popup-container button:hover {
    background-color: #0056b3;
  }
  